<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.saikiran.ghostfinisher</string>
    <key>CFBundleName</key>
    <string>GhostFinisher</string>
    <key>CFBundleExecutable</key>
    <string>GhostFinisher</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSInputMonitoringUsageDescription</key>
    <string>Ghost Finisher reads keystrokes locally to provide word completion. Nothing is sent anywhere.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Ghost Finisher needs to inject text to complete words.</string>
</dict>
</plist>
